
<!DOCTYPE HTML>
<html>
<head>
    <title> TudoEletro | </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/Site.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
    <div class="wrap">
        <div class="header">
            @Html.Partial("_PartialTopo")

        </div>
        @RenderBody()
    </div>
    @Html.Partial("_PartialFooter")
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

<script type="text/javascript" src="~/Content/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="~/Content/js/move-top.js"></script>
<script type="text/javascript" src="~/Content/js/easing.js"></script>
<script type="text/javascript" src="~/Content/js/startstop-slider.js"></script>
<script type="text/javascript" src="~/Content/js/index.js"></script>