
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<h2>Vendas correios</h2>



<div class="row">

    <div class="col-md-2">
        @Html.TextBox("txtCep", null, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        <button class="btn btn succes" id="btnSend">Consultar </button>
    </div>
</div>


<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="~/content/js/jquery-1.7.2.min.js"></script>
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Content/css/Site.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="~/Content/js/Js-Loja/SalesController.js">
    
</script><link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />